# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
dist/
build/
out/

# Electron
*.asar

# Logs
logs/
*.log

# Backups
backup/
Backup/
BACKUP/

# System
.DS_Store
Thumbs.db

# Other
txt/
package-lock.json
forge.config.js
.cursorignore
doc/UI_UX MOCKUP - MWM.docx
# stara wersja, obecnie uzywamy poprawnej preload.cjs dla tej architektury
preload.js
preload.js
