# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
dist/
build/
out/

# Electron
*.asar

# Logs
logs/
*.log

# Backups
backup/
Backup/
BACKUP/

# System
.DS_Store
Thumbs.db

# Other
txt/
doc/scripts
doc/prompts
package-lock.json
forge.config.js
.cursorignore
.roo/mcp.json
*.py
*.bat
update/to_check_0.0.3.txt
